

.container{
    display: flex;
    margin-top: 100px;
}

.left_container{
    width: 70%;
    margin-left: 8%;
    margin-right: 3%;
    margin-bottom: 5%;

}
.right_container{
    padding-top: 10px;
    margin-right: 8%;
    width: 25%;
}
.search{
    /* margin-left: 2%; */
    margin-right: 2%;
    margin-bottom: 20px;
}
.search_text{
    width: 60%;
    float: left;
}
.search_button{
    width: 31%;
    margin-left: 2%;
}
.right_body_image{
    width: 100%;
    height: 100%;
}
.image_frame {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    font-size: large;
    font-weight: 800;
    margin-top: 30px;
}
.image{
    width: 100%;
}

.image_frame p{
    margin-top: 5px;
}
h1{
    line-height: normal;
}
p{
    font-size: 15px;
    /* line-height: 25px; */
}
h3{
    /* line-height: 20px; */
    /* font-weight: bolder; */
    /* font-weight: 900; */
    font-weight: bold;
    
}
h4{
    color: gray;
}
p{
    color: rgb(51, 47, 47);
}
.title p{
    color: gray;
    margin-top: -20px;
}


/* Video Upload Start*/
.wrapper{
    margin: 0 auto;
    width: 80%;
}
.videowrapper{
    position: relative;
    left: 90px;
    padding-top: 25px;
    padding-bottom: 56%;
    height: 0px;

}
.videowrapper iframe{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 80%;
    width: 80%;
    margin-top: 15px;
}

/* Video Upload End*/

/* right container start*/
.right_body_image p{
    text-align: center;
}

/* right container End*/
#text_box{
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.box{
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
}
#show_comment{
    width: 100%;

}
.show_cm_pro{
    width: 100%;
    height: 80px;
    
}
.show_cm_pro  p{
    float: left;
    padding-left: 5px;
}

.show_comment_profile{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    float: left;
    
}
.comment_p_frame{
    width: 80%;
    height: 20px;
}