/* here is variable Area -- START */


/* here is variable Area -- END */
body,
h1,
h2,
h3,
h4,
h6 {
    font-family: "Raleway", sans-serif;
}

p{
  font-family: 'Roboto', sans-serif;
  
}
a{
  text-decoration: none;
}


body,
html {
    height: 100%;
    line-height: 1.8;
}

/* Navi */
#myNavbar a{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  margin-left: -100px;
}

.newnavi a{
  margin-right: 90px;
  color: rgb(0, 0, 0);
  margin-top: 0px;
}


/* #myNavbar img{
  width: 60px;
  margin-left: -270px;
} */

.w3-top img {
  width: 7%;
  margin-left: -90px;
  
}

.w3-top a{
  font-family: 'Roboto Slab', serif;
}
/*.newnavi{
  background-color: aqua;
}*/


/* Full height image header */

.header-font span{
  color: rgb(4, 58, 58);
}
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("computer-laptop-work-place-camera-705164.jpeg");
    min-height: 80%;
}

.w3-bar .w3-button {
    padding: 16px;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
    color: #f4511e;
}

.carousel-indicators li {
    border-color: #f4511e;
}

.carousel-indicators li.active {
    background-color: #f4511e;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

.container{
    padding-left: 2%;
    padding-right: 4%;
      
}
h1{
    text-align: center;
    padding-top: 60px;
}
.view_box{
    padding-bottom: 40px;
}
.w3-third{
    text-align: center;
}

.p_header{
    font-size: 30px;
    margin-top: -12px;
}
h5{
    font-weight: 500;
    padding-top: 2%;
    font-family: 'Roboto', sans-serif;
}

.right_text_box a{
    text-decoration: none;
}

.p_header{
  font-family: Raleway;
}

.read-button{
  padding-top: 30px;
}

.by-name{
  color: rgb(119, 111, 111);
}
/*footer*/
footer{
    background-color: rgb(169, 175, 231);
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
  }