

.container{
    display: flex;
    margin-top: 100px;
}

.left_container{
    width: 70%;
    margin-left: 8%;
    margin-right: 3%;
    

}
.right_container{
    padding-top: 10px;
    margin-right: 8%;
    width: 25%;
}
.search{
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 20px;
}
.search_text{
    width: 60%;
    float: left;
}
.search_button{
    width: 31%;
    margin-left: 2%;
}
.right_body_image{
    width: 100%;
    height: 100%;
}
.image_frame{
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
}
.image{
    width: 100%;
}
p{
    font-size: small;
    line-height: 25px;
}
h5,h3{
    font-weight: 1000;
    line-height: 20px;
}
h4,h6{
    color: grey;
}
#text_box{
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.box{
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
}